header {
  background-color: rgb(160, 31, 20);
  height: 75px;
  font-family: sans-serif;
}

header h1 {
  color: white;
  font-size: 2.1em;
  font-weight: bold;
  padding: 20px;
  float: left;
  line-height: 40px;
}

header a {
  float: right;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  line-height: 50px;
}

nav {
  background-color: rgb(51, 51, 51);
  height: 55px;
  text-align: right;
}

nav a {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  line-height: 55px;
}

#main-pic {
  height: 100%;
  width: 100%;
  max-width: 1035px;
  max-height: 565px;
  padding-bottom: 10px;
  padding-top: 25px;
  padding-left: 10px;
}

div.sidebar {
  position: relative;
  right: 20px;
  top:  10px;
  width: 250px;
  margin: auto;
  float: right;
  font-family: sans-serif;
}

div.sidebar h3 {
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.sidebar img {
  width: 250px;
  padding-bottom: 40px;
}

section.main-text {
  padding-bottom: 30px;
  padding-left: 20px;
  font-family: sans-serif;
}

section.main-text h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px
}

section.main-text p {
  width: 1000px;
  padding-top: 8px;
  padding-left: 15px;
}

footer {
  background-color: rgb(51, 51, 51);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
}

footer p {
  color: white;
  padding: 10px;
}

